<h4 class="page-header">Edit Post</h4>
<div class="row">
	<div class="col-sm-8">
		<form role="form">
			
            
            <div class="form-group float-label-control">
		  	    <label for="title">Title</label>
				<input ng-model="post.title" placeholder="Post Title">
			</div>
			<div class="form-group float-label-control">
		  	    <label for="alias">Alias</label>
				<input ng-model="post.alias" placeholder="Post Alias">
			</div>
            <div class="form-group float-label-control">
				<label for="content" placeholder="Post Content">Content</label>
				<textarea ng-model="post.content"  rows="10"></textarea>
			</div>
			  <div class="checkbox">
				<label>
					<input type="checkbox" ng-model="post.published">Is published ?
				</label>
			</div>
			<div class="form-group float-label-control">
			<label for="alias">Created: </label>
				<input type="text" value="{{post.created| date:'MM/dd/yyyy'}}" readonly>
			</div>

			<div class="form-group float-label-control">
			<label for="alias">Updated: </label>
				<input type="text" value="{{post.updated| date:'MM/dd/yyyy'}}" readonly>
			</div>

			<div class="row">
				<button ng-click="save()" class="btn btn-default">Save</button>
				<button ng-click="reset()" class="btn btn-default">Reset form</button>
				<button class="btn btn-default"><a href="/posts">Cancel</a></button>
			</div>
		</form>
	</div>
</div>