<h4 class="page-header">Create a New Post</h4>
<div class="row">
	<div class="col-sm-8">
		<br />
		<form role="form">
            <div class="form-group float-label-control">
		  	    <label for="title">Title</label>
				<input ng-model="newPost.title" placeholder="Post Title">
			</div>
			<div class="form-group float-label-control">
		  	    <label for="alias">Alias</label>
				<input ng-model="newPost.alias" placeholder="Post Alias">
			</div>
            <div class="form-group float-label-control">
				<label for="content" placeholder="Post Content">Content</label>
				<textarea ng-model="newPost.content"  rows="10"></textarea>
			</div>
			  <div class="checkbox">
				<label>
					<input type="checkbox" ng-model="newPost.published">Is published ?
				</label>
			</div>

			<div class="row">
				<button class="btn btn-default" ng-click="newPost.owner=$root.currentUser._id; newPost.created = date; newPost.updated = date; posts.push(newPost)">Add</button>
				<button class="btn btn-default" ng-click="removeAll()">remove all</button>
			</div>
		</form>
	</div>
</div>