<form>
	<label>Name</label>
	<input ng-model="newPost.name">
	<label>Description</label>
	<input ng-model="newPost.description">
	<label>Published</label>
	<input type="checkbox" ng-model="newPost.published">
	<button ng-click="newPost.owner=$root.currentUser._id; posts.push(newPost)">Add</button>
	<button ng-click="removeAll()">remove all</button>
</form>
<ul>
	<h1>Posts:</h1>
	<div>
		<input type="search" ng-model="search" placeholder="Search">
		<select ng-model="orderProperty">
			<option value="1">Ascending</option>
			<option value="-1">Descending</option>
		</select>
	</div>
	<li dir-paginate="post in posts | itemsPerPage: perPage" total-items="postsCount.count">
		<a href="/posts/{{post._id}}">
			{{post.name}}
		</a>
		<button ng-click="remove(post)">X</button>
		<p>
			{{post.description}}
		</p>
	</li>
	<p>Total number of posts: {{posts.length}}</p>
</ul>
<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>