server_tokens off; # for security-by-obscurity: stop displaying nginx version

# this section is needed to proxy web-socket connections
map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}
server {
    listen 80;
    server_name anshumanbiswas.com; # the domain on which we want to host the application. Since we set "default_server" previously, nginx will answer all hosts anyway.
    rewrite ^(.*) https://anshumanbiswas.com$1 permanent;
}

#server {
#    server_name  anshumanbiswas.com;
#    rewrite ^(.*) http://www.anshumanbiswas.com$1 permanent;
#}


# HTTPS server
server {
    listen 443 ssl spdy; # we enable SPDY here
    server_name anshumanbiswas.com; # this domain must match Common Name (CN) in the SSL certificate

    #return       301 https://www.anshumanbiswas.com$request_uri;

    #rewrite ^(.*) https://anshumanbiswas.com$1 permanent;
    ssl_certificate /etc/nginx/ssl/anshumanbiswas.com.crt; # full path to SSL certificate and CA certificate concatenated together
    ssl_certificate_key /etc/nginx/ssl/anshumanbiswas.com.key; # full path to SSL key

    # If your application is not compatible with IE <= 10, this will redirect visitors to a page advising a browser update
    # This works because IE 11 does not present itself as MSIE anymore


    # pass all requests to Meteor
    location / {
	#rewrite ^(.*) https://anshumanbiswas.com$1 permanent;
        proxy_pass http://127.0.0.1:8080;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade; # allow websockets
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header X-Forwarded-For $remote_addr; # preserve client IP

        # this setting allows the browser to cache the application in a way compatible with Meteor
        # on every applicaiton update the name of CSS and JS file is different, so they can be cache infinitely (here: 30 days)
        # the root path (/) MUST NOT be cached
        if ($uri != '/') {
            expires 30d;
        }
    }

     # Django media
  location /images  {
    alias /home/anshuman/demo/public/images;  # your Django project's media files - amend as required
  }

}
